<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
              <li class="breadcrumb-item" aria-current="page">Pages</li>
              <li class="breadcrumb-item" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Cart -->
<section class="course-content cart-widget">
  <div class="container">
    <div class="student-widget">
      <div class="student-widget-group">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-head">
              <h4>Your cart (03 items)</h4>
            </div>
            <div class="cart-group">
              <div class="row">
                @for (data of cart; track data) {
                  <div class="col-lg-12 col-md-12 d-flex">
                    <div class="course-box course-design list-course d-flex mb-0">
                      <div class="product">
                        <div class="product-img">
                          <a [routerLink]="routes.page_course_details">
                            <img class="img-fluid" alt="" [src]="data.img1">
                          </a>
                          <div class="price" [ngClass]="{'combo': data.idle === 'FREE'}">
                            <h3>{{data.idle}}</h3>
                            <h3>{{data.price1}} <span>{{data.price2}}</span></h3>
                          </div>
                        </div>
                        <div class="product-content">
                          <div class="head-course-title">
                            <h3 class="title"><a [routerLink]="routes.page_course_details">{{data.heading}}</a></h3>
                          </div>
                          <div class="course-info d-flex align-items-center border-bottom-0 pb-0">
                            <div class="rating-img d-flex align-items-center">
                              <img [src]="data.img2" alt="">
                              <p>{{data.lesson}}</p>
                            </div>
                            <div class="course-view d-flex align-items-center">
                              <img [src]="data.img3" alt="">
                              <p>{{data.time}}</p>
                            </div>
                          </div>
                          <div class="rating">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star me-1"></i>
                            <span class="d-inline-block average-rating"><span>{{data.rating1}}</span> {{data.rating2}}</span>
                          </div>
                        </div>
                        <div class="cart-remove">
                          <a href="javascript:void(0)" class="btn btn-primary">{{data.setting}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
            <div class="cart-total">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="cart-subtotal">
                    <p>Subtotal <span>$600.00</span></p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="check-outs">
                    <a [routerLink]="routes.page_checkout" class="btn btn-primary">Checkout</a>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="condinue-shop">
                    <a [routerLink]="routes.page_course_list" class="btn btn-primary">Continue Shopping</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Cart -->
