<ul class="settings-pg-links">
        <li><a routerLinkActive="active" [routerLink]="routes.instructorSettings"><i class="bx bx-edit"></i>Edit Profile</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.instructorChangePassword"><i class="bx bx-lock"></i>Change Password</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.instructorSettingNotifications"><i class="bx bx-bell"></i>Notifications</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.instructorSettingWithdraw"><i class="bx bx-wallet-alt"></i>Withdraw</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.instructorDeleteAccount"><i class="bx bx-error-alt"></i>Delete Account</a></li>
    </ul>
    