<!-- Page Content -->
<div>
  <div>
    <div>
      
      <!-- sidebar -->
      <app-instructor-sidebar></app-instructor-sidebar>
      <!-- /Sidebar -->
      
      <!-- Instructor profile -->
      <div>	

        <div>
          <div>
            <div>
              <h3>My Profile</h3>
            </div>
            <div>
              <div>
                <div>
                  <div>
                    <h6>First Name</h6>
                    <p>Eugene</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>Last Name</h6>
                    <p>Andre</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>Registerion Date</h6>
                    <p>January 16, 2024, 11:15 AM</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>User Name</h6>
                    <p>instructordemo</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>Email</h6>
                    <p>instructordemo&#64;example.com</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>Phone Number</h6>
                    <p>89104-71829</p>
                  </div>
                </div>
                <div>
                  <div>
                    <h6>Bio</h6>
                    <p>Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No shortcuts. Even if the client is being careless. Some quick example text to build on the card title and bulk the card's content Moltin gives you platform. As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience lies in successfully conceptualizing, designing, and modifying consumer products specific to interior design and home furnishings.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>	
      <!-- /Instructor profile -->
      
    </div>
  </div>
</div>	
<!-- /Page Content -->
