<!-- Breadcrumb -->
@if (last !== 'view') {
  <div class="breadcrumb-bar breadcrumb-bar-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            <h2 class="breadcrumb-title">{{ last | titlecase }}</h2>
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink] = "routes.home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ last | titlecase }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
}
<!-- /Breadcrumb -->


<router-outlet></router-outlet>