<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
              <li class="breadcrumb-item">Pages</li>
              <li class="breadcrumb-item" >Categories</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Wrapper -->
<div class="page-content">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-sec">
          <h2>Browse Job By Categories</h2>
          <p>Browse Job By Categories</p>
        </div>

        <!-- Category Tab -->
        <div class="category-tab">
          <ul class="nav nav-justified">
            <li class="nav-item"><a href="#graphics" class="nav-link active" data-bs-toggle="tab" >Graphics & Design</a></li>
            <li class="nav-item"><a href="#programming" class="nav-link" data-bs-toggle="tab" >Programming & Tech</a></li>
            <li class="nav-item"><a href="#marketing" class="nav-link" data-bs-toggle="tab" >Digital Marketing</a></li>
            <li class="nav-item"><a href="#video" class="nav-link" data-bs-toggle="tab" >Video & Animation</a></li>
          </ul>
        </div>
        <!-- /Category Tab -->

        <!-- Category List -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="graphics">
            <div class="row">

              @for (data of jobCategoryGraphics; track data) {
                <div class="col-lg-4 col-md-6">
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img1" alt="">
                      </div>
                      <h5>{{data.content1}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count1}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img2" alt="">
                      </div>
                      <h5>{{data.content2}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count2}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img3" alt="">
                      </div>
                      <h5>{{data.content3}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count3}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img4" alt="">
                      </div>
                      <h5>{{data.content4}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count4}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img5" alt="">
                      </div>
                      <h5>{{data.content5}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count5}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img6" alt="">
                      </div>
                      <h5>{{data.content6}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count6}}</span>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>

          <div class="tab-pane fade" id="programming">
            <div class="row">
              @for (data of jobCategoryprogramming; track data) {
                <div class="col-lg-4 col-md-6">
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img1" alt="">
                      </div>
                      <h5>{{data.content1}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count1}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img2" alt="">
                      </div>
                      <h5>{{data.content2}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count2}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img3" alt="">
                      </div>
                      <h5>{{data.content3}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count3}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img4" alt="">
                      </div>
                      <h5>{{data.content4}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count4}}</span>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>

          <div class="tab-pane fade" id="marketing">
            <div class="row">
              @for (data of jobCategorymarketing; track data) {
                <div class="col-lg-4 col-md-6">
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img1" alt="">
                      </div>
                      <h5>{{data.content1}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count1}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img2" alt="">
                      </div>
                      <h5>{{data.content2}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count2}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img3" alt="">
                      </div>
                      <h5>{{data.content3}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count3}}</span>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>

          <div class="tab-pane fade" id="animation">
            <div class="row">
              @for (data of jobCategoryanimation; track data) {
                <div class="col-lg-4 col-md-6">
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img1" alt="">
                      </div>
                      <h5>{{data.content1}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count1}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img2" alt="">
                      </div>
                      <h5>{{data.content2}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count2}}</span>
                    </div>
                  </div>
                  <div class="category-box">
                    <div class="category-title">
                      <div class="category-img">
                        <img [src]="data.img3" alt="">
                      </div>
                      <h5>{{data.content3}}</h5>
                    </div>
                    <div class="cat-count">
                      <span>{{data.count3}}</span>
                    </div>
                  </div>
                </div>
              }

            </div>
          </div>

        </div>
        <!-- /Category List -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
