<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item">Support</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Breadcrumb -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Support</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Help Details -->
<div class="page-content">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="support-wrap">
                    <h5>Submit a Request</h5>
                        <div class="input-block">
                            <label for="first-name">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter your first Name">
                        </div>
                        <div class="input-block">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" placeholder="Enter your email address">
                        </div>
                        <div class="input-block">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" placeholder="Enter your Subject">
                        </div>
                        <div class="input-block">
                            <label for="description">Description</label>
                            <textarea class="form-control" placeholder="Write down here" rows="4"></textarea>
                        </div>
                        <button class="btn btn-submit">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Help Details -->
