<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">


            <!-- sidebar -->
            <app-student-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-student-sidebar>
            <!-- /Sidebar -->

            <!-- Student Wishlist -->
            <div class="col-xl-9 col-lg-9">

                <div class="settings-widget card-info">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Wishlist</h3>
                        </div>
                        <div class="checkout-form pb-0">
                            <div class="row">

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-02.jpg">
                                                </a>
                                                <div class="price">
                                                    <h3>$80 <span>$99.00</span></h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user2.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">Cooper</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center"(click)="toggleClass(1)" (keydown)="toggleClass(1)" tabindex="1">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart" [ngClass]="{ 'color-active': isClassAdded[1] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a
                                                        [routerLink] = "routes.page_course_details">Wordpress for Beginners - Master
                                                        Wordpress Quickly</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>12+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>70hr 30min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span class="d-inline-block average-rating"><span>5.0</span>
                                                        (20)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-03.jpg">
                                                </a>
                                                <div class="price combo">
                                                    <h3>FREE</h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user5.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">Jenny</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center"(click)="toggleClass(2)" (keydown)="toggleClass(2)" tabindex="2">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart "  [ngClass]="{ 'color-active': isClassAdded[2] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a [routerLink] = "routes.page_course_details">Sketch
                                                        from A to Z (2022): Become an app designer</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>10+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>40hr 10min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="d-inline-block average-rating"><span>3.0</span>
                                                        (18)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-04.jpg">
                                                </a>
                                                <div class="price">
                                                    <h3>$65 <span>$70.00</span></h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user4.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">Nicole Brown</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center" (click)="toggleClass(3)" (keydown)="toggleClass(3)" tabindex="1">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart " [ngClass]="{ 'color-active': isClassAdded[3] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a [routerLink] = "routes.page_course_details">Learn
                                                        Angular Fundamentals From beginning to advance lavel</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>15+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>80hr 40min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="d-inline-block average-rating"><span>4.0</span>
                                                        (10)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-05.jpg">
                                                </a>
                                                <div class="price combo">
                                                    <h3>FREE</h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user3.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">John Smith</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center" (click)="toggleClass(4)" (keydown)="toggleClass(4)" tabindex="1">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart  "[ngClass]="{ 'color-active': isClassAdded[4] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a [routerLink] = "routes.page_course_details">Build
                                                        Responsive Real World Websites with Crash Course</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>12+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>70hr 30min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="d-inline-block average-rating"><span>4.0</span>
                                                        (15)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-07.jpg">
                                                </a>
                                                <div class="price">
                                                    <h3>$70 <span>$80.00</span></h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user6.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">Stella Johnson</a>
                                                            </h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center" (click)="toggleClass(5)" (keydown)="toggleClass(5)" tabindex="1">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart " [ngClass]="{ 'color-active': isClassAdded[5] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a [routerLink] = "routes.page_course_details">Learn
                                                        JavaScript and Express to become a Expert</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>15+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>70hr 30min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star"></i>
                                                    <span class="d-inline-block average-rating"><span>4.6</span>
                                                        (15)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                                <!-- Course Grid -->
                                <div class="col-xxl-4 col-md-6 d-flex">
                                    <div class="course-box flex-fill">
                                        <div class="product">
                                            <div class="product-img">
                                                <a [routerLink] = "routes.page_course_details">
                                                    <img class="img-fluid" alt="Img"
                                                        src="assets/img/course/course-08.jpg">
                                                </a>
                                                <div class="price combo">
                                                    <h3>FREE</h3>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="course-group d-flex">
                                                    <div class="course-group-img d-flex">
                                                        <a [routerLink] = "routes.instructorProfile"><img
                                                                src="assets/img/user/user1.jpg" alt="Img"
                                                                class="img-fluid"></a>
                                                        <div class="course-name">
                                                            <h4><a [routerLink] = "routes.instructorProfile">Nicole Brown</a></h4>
                                                            <p>Instructor</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="course-share d-flex align-items-center justify-content-center" (click)="toggleClass(6)" (keydown)="toggleClass(6)" tabindex="1">
                                                        <a href="javascript:void(0);"><i
                                                                class="fa-regular fa-heart " [ngClass]="{ 'color-active': isClassAdded[6] }"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="title instructor-text"><a
                                                        [routerLink] = "routes.page_course_details">Introduction to Programming- Python &
                                                        Java</a></h3>
                                                <div class="course-info d-flex align-items-center">
                                                    <div class="rating-img d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-01.svg" alt="Img">
                                                        <p>10+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex align-items-center">
                                                        <img src="assets/img/icon/icon-02.svg" alt="Img">
                                                        <p>70hr 30min</p>
                                                    </div>
                                                </div>
                                                <div class="rating mb-0">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <span class="d-inline-block average-rating"><span>5.0</span>
                                                        (13)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Course Grid -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="dash-pagination">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p>Page 1 of 2</p>
                        </div>
                        <div class="col-6">
                            <ul class="pagination">
                                <li class="active">
                                    <a href="javascript:void(0);">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="bx bx-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Student Wishlist -->

        </div>
    </div>
</div>
<!-- /Page Content -->