<!-- Main Wrapper -->
<div>

  <!-- Login Banner -->
  <!-- <owl-carousel-o [options]="newPasswordOwlOptions">
    @for (slide of newPassword; track slide) {
    <ng-template carouselSlide>
      <img [src]="slide.img" alt="Logo" />
      <h2>{{ slide.content1 }}<br />{{ slide.content2 }}</h2>
      <p>{{ slide.paragraph }}</p>
    </ng-template>
    }
    @empty {
    <p>No slides available.</p>
    }
  </owl-carousel-o> -->
  <!-- /Login Banner -->

  <!-- Login -->
  <!-- <img src="assets/img/logo.svg" alt="Logo" /> -->
  <a [routerLink]="routes.home">Back to Home</a>
  <h1>Setup New Password</h1>
  <form>
    <label for="password">Password</label>
    <div>
      <input [type]="password" placeholder="Enter your password" [(ngModel)]="registerFormCustom.password"
        (input)="onChangePassword(registerFormCustom.password, 'Password')" (input)="onInputChange1()" />
      @if (show1) {
      <i (click)="onClick('password')" (keydown)="onClick('password')" tabindex="1">Show</i>
      }
      @else {
      <i (click)="onClick('password')" (keydown)="onClick('password')" tabindex="1">Hide</i>
      }
      <span [ngClass]="{ active: passwordResponse.passwordResponseKey === '3' }">
        <i class="feather icon-check"></i>
      </span>
    </div>
    <div [ngClass]="{
            'poor-active': passwordResponse.passwordResponseKey === '0',
            'avg-active': passwordResponse.passwordResponseKey === '1',
            'strong-active': passwordResponse.passwordResponseKey === '2',
            'heavy-active': passwordResponse.passwordResponseKey === '3'
          }">
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
    </div>
    <div [ngClass]="{
            weak: passwordResponse.passwordResponseKey === '0',
            average: passwordResponse.passwordResponseKey === '1',
            good: passwordResponse.passwordResponseKey === '2',
            great: passwordResponse.passwordResponseKey === '3'
          }">
      @if (typingStarted1 && passwordResponse.passwordResponseKey === '0') {
      <img [src]="passwordResponse.passwordResponseImage" alt="img" />
      }
      {{ passwordResponse.passwordResponseText }}
    </div>

    <label for="confirm-password">Confirm Password</label>
    <div>
      <input [type]="confirmPassword" placeholder="Enter your password" [(ngModel)]="registerFormCustom.confirmPassword"
        (input)="onChangePassword(registerFormCustom.confirmPassword, 'confirmPassword')" (input)="onInputChange2()" />
      @if (show2) {
      <i (click)="onClick('confirmPassword')" (keydown)="onClick('confirmPassword')" tabindex="1">Show</i>
      }
      @else {
      <i (click)="onClick('confirmPassword')" (keydown)="onClick('confirmPassword')" tabindex="1">Hide</i>
      }
      <span [ngClass]="{ active: confirmPasswordResponse.passwordResponseKey === '3' }">
        <i class="feather icon-check"></i>
      </span>
    </div>
    <div [ngClass]="{
            'poor-active': confirmPasswordResponse.passwordResponseKey === '0',
            'avg-active': confirmPasswordResponse.passwordResponseKey === '1',
            'strong-active': confirmPasswordResponse.passwordResponseKey === '2',
            'heavy-active': confirmPasswordResponse.passwordResponseKey === '3'
          }">
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
      <span class="active"></span>
    </div>
    <div [ngClass]="{
            weak: confirmPasswordResponse.passwordResponseKey === '0',
            average: confirmPasswordResponse.passwordResponseKey === '1',
            good: confirmPasswordResponse.passwordResponseKey === '2',
            great: confirmPasswordResponse.passwordResponseKey === '3'
          }">
      @if (typingStarted2 && passwordResponse.passwordResponseKey === '0') {
      <img alt="img" [src]="confirmPasswordResponse.passwordResponseImage" />
      }
      {{ confirmPasswordResponse.passwordResponseText }}
    </div>

    <label>
      <input type="checkbox" name="remember" />
      I agree to the <a href="javascript:void(0)">Terms of Service</a> and <a href="javascript:void(0)">Privacy
        Policy.</a>
    </label>

    <button type="submit">Reset Password</button>
  </form>
  <p>
    Already have an account? <a [routerLink]="routes.login">Sign in</a>
  </p>
  <!-- /Login -->

</div>