<!-- Page Content -->
<div>
    <div>
        <div>
            
            <!-- sidebar -->
            <app-instructor-sidebar></app-instructor-sidebar>
            <!-- /Sidebar -->
            
            <!-- Instructor Courses -->
            <div>    

                <div>
                    <div>
                        <div>
                            <h3>My Courses</h3>
                            <p>Manage your courses and its updates</p>
                        </div>
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">Publish (6)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Pending (2)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Draft (1)</a>
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <div>
                                    <div>

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-02.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>$80 <span>$99.00</span></h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Wordpress for Beginners - Master Wordpress Quickly</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>12+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>70hr 30min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-03.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>FREE</h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Sketch from A to Z (2022): Become an app designer</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>10+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>40hr 10min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-04.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>$65 <span>$70.00</span></h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Learn Angular Fundamentals From beginning to advance level</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>15+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>80hr 40min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-05.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>FREE</h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Build Responsive Real World Websites with Crash Course</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>12+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>70hr 30min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-07.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>$70 <span>$80.00</span></h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Learn JavaScript and Express to become an Expert</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>15+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>70hr 30min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-08.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>FREE</h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Introduction to Programming- Python & Java</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>10+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>70hr 30min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                    </div>
                                </div>

                                <div>
                                    <div>

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-02.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>$80 <span>$99.00</span></h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Wordpress for Beginners - Master Wordpress Quickly</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>12+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>70hr 30min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-03.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>FREE</h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Sketch from A to Z (2022): Become an app designer</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>10+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>40hr 10min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                    </div>
                                </div>

                                <div>
                                    <div>

                                        <!-- Course Grid -->
                                        <div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <a [routerLink]="routes.instructorDetails">
                                                            <img alt="Img" src="assets/img/course/course-04.jpg">
                                                        </a>
                                                        <div>
                                                            <h3>$65 <span>$70.00</span></h3>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h3><a [routerLink]="routes.instructorDetails">Learn Angular Fundamentals From beginning to advance level</a></h3>
                                                        <div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-01.svg" alt="Img"> -->
                                                                <p>15+ Lesson</p>
                                                            </div>
                                                            <div>
                                                                <!-- <img src="assets/img/icon/icon-02.svg" alt="Img"> -->
                                                                <p>80hr 40min</p>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <a href="javascript:void(0);">Edit</a>
                                                            <a href="javascript:void(0);">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Course Grid -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div>
                            <p>Page 1 of 2</p>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="bx bx-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>    
        </div>
    </div>
</div>    
<!-- /Page Content -->
