<!-- Page Content -->
<div>
  <div>
    <div>
      <!-- sidebar -->
      <app-instructor-sidebar class="col-xl-3 col-lg-3"></app-instructor-sidebar>
      <!-- /Sidebar -->

      <!-- Instructor profile -->
      <div class="col-xl-9 col-lg-9">

        <div>
          <div>
            <div>
              <h3>Notifications</h3>
            </div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <span>
                        <i class="bx bx-calendar-edit"></i>
                      </span>
                      <input
                      type="text"
                      bsDaterangepicker
                      [(ngModel)]="bsRangeValue"
                    />
                    </div>
                    <div>
                      <ul>
                        <li>
                          <a href="javascript:void(0);"><i class="feather icon-check me-2"></i> Mark all as read</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><i class="feather icon-trash-2 me-2"></i> Delete all</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <span>
                              <img src="assets/img/user/user2.jpg" alt="img">
                            </span>
                            <div>
                              <p><span>Thompson</span> Hicks enroll a new course on Programming</p>
                              <p>10 mins ago</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <a href="javascript:void(0);" class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <span>
                              <img src="assets/img/user/user1.jpg" alt="img">
                            </span>
                            <div>
                              <p><span>Shirley</span> Lis submitted the assignent on Complete <span> HTML, CSS and Javascript Course </span></p>
                              <p>12 mins ago</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <a href="javascript:void(0);" class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <span>
                              <img src="assets/img/user/user12.jpg" alt="img">
                            </span>
                            <div>
                              <p><span>James </span> Schulte replied to your comment </p>
                              <p>15 mins ago</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div>
                            <a href="javascript:void(0);" class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /Instructor profile -->

    </div>
  </div>
</div>
<!-- /Page Content -->
