<div class="settings-page-head">
    <ul class="settings-pg-links">
        <li><a routerLinkActive="active" [routerLink]="routes.studentSettings"><i class="bx bx-edit"></i>Edit
                Profile</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.studentChangePassword"><i class="bx bx-lock"></i>Change
                Password</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.students_social_profile"><i
                    class="bx bx-user-circle"></i>Social Profiles</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.studentLinkedAccount"><i class="bx bx-link"></i>Linked
                Accounts</a></li>
        <li><a routerLinkActive="active" [routerLink]="routes.studentNotification"><i
                    class="bx bx-bell"></i>Notifications</a></li>
    </ul>
</div>