.weak {
  display: block;
  color: rgb(255, 0, 0);
}
.average {
  display: block;
  color: rgb(255, 181, 74);
}
.good {
  display: block;
  color: rgb(29, 156, 253);
}
.great {
  display: block;
  color: rgb(21, 159, 70);
}
