<!-- Header -->
<!-- <header
  class="header"
  [ngClass]="{
    'header-page':
      base === 'blog' ||
      page === 'notifications' ||
      page === 'faq' ||
      page === 'pricing-plan' ||
      page === 'wishlist' ||
      page === 'support' ||
      page === 'job-category' ||
      page === 'term-condition' ||
      page === 'privacy-policy' ||
      page === 'help-center' ||
      page === 'pricing-plan2'
  }"
  >
  <div class="header-fixed">
    <nav
      class="navbar navbar-expand-lg header-nav scroll-sticky"
      [ngClass]="{
        'add-header-bg': white_bg === true
      }"
      >
      <div class="container">
        <div class="navbar-header">
          <a
            (click)="toggleSidebar()"
            id="mobile_btn"
            href="javascript:void(0)"
            >
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
          <a [routerLink]="routes.home" class="navbar-brand logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a [routerLink]="routes.home" class="menu-logo">
              <img src="assets/img/logo.svg" class="img-fluid" alt="Logo" />
            </a>
            <a
              (click)="hideSidebar()"
              class="menu-close"
              href="javascript:void(0)"
              >
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            @for (mainMenus of sidebar; track mainMenus) {
              @if (mainMenus.separateRoute === true) {
                <li [class.active]="base ===mainMenus.base">
                  <a [routerLink]="mainMenus.route">{{ mainMenus.tittle }}</a>
                </li>
              }
              @if (mainMenus.separateRoute === false) {
                <li class="has-submenu" [class.active]="base === mainMenus.base">
                  <a
                    href="javascript:void(0)"
                    (click)="mainMenus.showAsTab = !mainMenus.showAsTab"
                    >{{ mainMenus.tittle }} <i class="fas fa-chevron-down"></i
                  ></a>
                  <ul
                    class="submenu"
                    [ngClass]="{
                      'show-sub-menu': mainMenus.showAsTab === true
                    }"
                    >
                    @for (menu of mainMenus.menu; track menu) {
                      @if (menu.hasSubRoute === false) {
                        <li
                          [class.active]="
                            base === menu.base && page === menu.page
                          "
                          >
                          <a [routerLink]="menu.route">{{ menu.menuValue }}</a>
                        </li>
                      }
                      @if (menu.hasSubRoute === true) {
                        <li
                          class="has-submenu"
                          [class.active]="page === menu.page"
                          >
                          <a
                            (click)="menu.showSubRoute = !menu.showSubRoute"
                            [routerLink]="menu.route"
                            >{{ menu.menuValue }}</a
                            >
                            <ul
                              class="submenu"
                            [ngClass]="{
                              'show-sub-menu': menu.showSubRoute === true
                            }"
                              >
                              @for (subMenu of menu.subMenus; track subMenu) {
                                <li
                                [class.active]="
                                  base === subMenu.base &&
                                  page === subMenu.page &&
                                  last === subMenu.last
                                "
                                  >
                                  <a [routerLink]="subMenu.route">{{
                                    subMenu.menuValue
                                  }}</a>
                                </li>
                              }
                            </ul>
                          </li>
                        }
                      }
                    </ul>
                  </li>
                }
              }
              <li class="login-link">
                <a [routerLink]="routes.login">Login / Signup</a>
              </li>
            </ul>
          </div>
          <ul class="nav header-navbar-rht">
            <li class="nav-item">
              <a class="nav-link header-sign" [routerLink]="routes.login">Signin</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link header-login"
                [routerLink]="routes.register"
                >Signup</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header> -->
    <!-- /Header -->

    <header class="flex justify-center">
      <ul class="nav header-navbar-rht">
        <li class="nav-item">
          <a class="nav-link header-sign" [routerLink]="routes.login">Signin</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link header-login"
            [routerLink]="routes.register"
            >Signup</a
            >
          </li>
        </ul>   
    </header>
