<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            
           <!-- sidebar -->
           <app-student-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-student-sidebar>
           <!-- /Sidebar -->
            
            <!-- Student Settings -->
            <div class="col-xl-9 col-lg-9">	

                <div class="settings-widget card-details">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Settings</h3>
                            <p>You have full control to manage your own account settings</p>
                        </div>
                        <app-student-setting-tab></app-student-setting-tab>
                        <form >
                            <div class="checkout-form settings-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block">
                                            <label for="current-password" class="form-label">Current Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="input-block">
                                            <label for="new-password" class="form-label">New Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="input-block">
                                            <label for="re-new-password" class="form-label">Re-type New Password</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>								
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="submit">Reset Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>								
                    </div>
                </div>
            </div>	
            <!-- /Student Settings -->
            
        </div>
    </div>
</div>	
<!-- /Page Content -->

