<div *ngIf="themeSettings.length > 0">
  <table class="color-table">
    <thead>
      <tr>
        <th>Mode</th>
        <th>Primary</th>
        <th>Secondary</th>
        <th>Text</th>
        <th>Background</th>
        <th>Link</th>
        <th>Header BG</th>
        <th>Footer BG</th>
      </tr>
    </thead>
    <tbody *ngFor="let setting of themeSettings">
      <tr>
        <td>Light</td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.primary_color"
            [attr.title]="setting.primary_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.secondary_color"
            [attr.title]="setting.secondary_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.text_color"
            [attr.title]="setting.text_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.background_color"
            [attr.title]="setting.background_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.link_color"
            [attr.title]="setting.link_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.header_background_color"
            [attr.title]="setting.header_background_color"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.footer_background_color"
            [attr.title]="setting.footer_background_color"
          ></div>
        </td>
      </tr>
      <tr>
        <td>Dark</td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.primary_color_dark"
            [attr.title]="setting.primary_color_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.secondary_color_dark"
            [attr.title]="setting.secondary_color_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.text_color_dark"
            [attr.title]="setting.text_color_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.background_color_dark"
            [attr.title]="setting.background_color_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.link_color_dark"
            [attr.title]="setting.link_color_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.header_bgcolor_dark"
            [attr.title]="setting.header_bgcolor_dark"
          ></div>
        </td>
        <td>
          <div
            class="color-circle"
            [style.background]="setting.footer_bgcolor_dark"
            [attr.title]="setting.footer_bgcolor_dark"
          ></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
