<!-- Page Wrapper -->
<div>
    <div>
        <div>
            
            <!-- sidebar -->
            <app-instructor-sidebar></app-instructor-sidebar>
            <!-- /Sidebar -->
            
            <!-- Instructor Q & A -->
            <div>	

                <div>
                    <div>
                        <div>
                            <h3>Question & Answer</h3>
                        </div>
                        <div>
                            <div>

                                <!-- Referred Users-->
                                <table>
                                    <thead>
                                      <tr>
                                        <th>Question No</th>
                                        <th>Question</th>
                                        <th>Course</th>
                                        <th>Type</th>
                                        <th>Date</th>
                                        <th>Posted By</th>
                                        <th>No of Replies</th>
                                        <th></th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Q1</td>
                                            <td>AngularJS and Angular refer to the same framework.</td>
                                            <td><a [routerLink]="routes.page_course_details">Learn Angular Fundamentals Beginners Guide</a></td>
                                            <td>
                                                <i></i>
                                                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="True / False"><i></i></a>
                                            </td>
                                            <td>March 24, 2024 <span>09:30 AM</span></td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <img src="assets/img/user/user2.jpg" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">Thompson Hicks</a>
                                                </div>
                                            </td>
                                            <td>0</td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>Reply</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>View</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Q2</td>
                                            <td>What is the purpose of Angular's NgIf directive?</td>
                                            <td><a [routerLink]="routes.page_course_details">Learn Angular Fundamentals Beginners Guide</a></td>
                                            <td>
                                                <i></i>
                                                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Multiple Choice"><i></i></a>
                                            </td>
                                            <td>March 24, 2024 <span>09:30 AM</span></td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <img src="assets/img/user/user3.jpg" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">James Schulte</a>
                                                </div>
                                            </td>
                                            <td>0</td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>Reply</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>View</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Q3</td>
                                            <td>Observables are not part of Angular's HTTP module.</td>
                                            <td><a [routerLink]="routes.page_course_details">Learn Angular Fundamentals Beginners Guide</a></td>
                                            <td>
                                                <i></i>
                                                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="True / False"><i></i></a>
                                            </td>
                                            <td>March 24, 2024 <span>09:30 AM</span></td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <img src="assets/img/user/user5.jpg" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">Doris Hughes</a>
                                                </div>
                                            </td>
                                            <td>0</td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>Reply</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>View</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Q4</td>
                                            <td>Which of the following is a valid way to bind data in Angular?</td>
                                            <td><a [routerLink]="routes.page_course_details">Learn Angular Fundamentals Beginners Guide</a></td>
                                            <td>
                                                <i></i>
                                                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Multiple Choice"><i></i></a>
                                            </td>
                                            <td>March 24, 2024 <span>09:30 AM</span></td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <img src="assets/img/user/user13.jpg" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">Arthur Nalley</a>
                                                </div>
                                            </td>
                                            <td>0</td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>Reply</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>View</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Q5</td>
                                            <td>Angular applications can only be written in TypeScript.</td>
                                            <td><a [routerLink]="routes.page_course_details">Learn Angular Fundamentals Beginners Guide</a></td>
                                            <td>
                                                <i></i>
                                                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="True / False"><i></i></a>
                                            </td>
                                            <td>March 24, 2024 <span>09:30 AM</span></td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);">
                                                        <img src="assets/img/user/user8.jpg" alt="User Image">
                                                    </a>
                                                    <a href="javascript:void(0);">Shirley Lis</a>
                                                </div>
                                            </td>
                                            <td>0</td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>Reply</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <a href="javascript:void(0);"><i></i>View</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div>
                            <p>Page 1 of 2</p>
                        </div>
                        <div>
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0);">1</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">2</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>	
            <!-- /Instructor Q & A -->
            
        </div>
    </div>
</div>	
<!-- /Page Wrapper -->
