<!-- Main Wrapper -->
<div>

  <!-- Login Banner -->
  <!-- <owl-carousel-o [options]="registerFourOwlOptions">
    @for (slide of registerFour; track slide) {
    <ng-template carouselSlide>
      <img [src]="slide.img" alt="Logo">
      <h2>{{ slide.content1 }} <br>{{ slide.content2 }}</h2>
      <p>{{ slide.paragraph }}</p>
    </ng-template>
    }
    @empty {
    <p>No slides available.</p>
    }
  </owl-carousel-o> -->
  <!-- /Login Banner -->

  <!-- Login -->
  <!-- <img src="assets/img/logo.svg" alt="Logo"> -->
  <a [routerLink]="routes.login">Back to Home</a>
  <h1>Become An Instructor</h1>

  <div>
    <h3>Profile Completion</h3>
    <div>
      <span>100%</span>
      <span>4 of 4</span>
      <circle-progress [percent]="100" [clockwise]="true" innerStrokeColor="#e7e8ea"
        outerStrokeColor="#159F46"></circle-progress>
    </div>

    <div>
      <i class="fa-solid fa-check"></i>
      <div>
        <h4>Personal Details</h4>
        <p>Setup Your personal details</p>
      </div>
    </div>

    <div>
      <i class="fa-solid fa-check"></i>
      <div>
        <h4>Social Profiles</h4>
        <p>Setup Your Social Profiles links</p>
      </div>
    </div>

    <div>
      <i class="fa-solid fa-check"></i>
      <div>
        <h4>Profile Privacy Settings</h4>
        <p>Setup Your Profile Privacy Settings</p>
      </div>
    </div>

    <div>
      <i class="fa-solid fa-check"></i>
      <div>
        <h4>Link Accounts</h4>
        <p>Setup Your Linked Accounts</p>
      </div>
    </div>
  </div>

  <div>
    <h4>Linked Accounts</h4>
    <div>
      <img src="assets/img/net-icon-02.png" alt="Logo">
      <div>
        <h4>Facebook</h4>
        <p>Enable one-click login and receive more personalized course recommendations.</p>
        <a href="javascript:void(0)" class="btn btn-primary">Remove your Facebook Account</a>
      </div>
    </div>

    <div>
      <img src="assets/img/net-icon-01.png" alt="Logo">
      <div>
        <h4>Sign In using Google</h4>
        <p>Enable one-click login and receive more personalized course recommendations.</p>
        <a href="javascript:void(0)" class="btn btn-primary">Link my Google Account</a>
      </div>
    </div>

    <div>
      <img src="assets/img/net-icon-03.png" alt="Logo">
      <div>
        <h4>GitHub</h4>
        <p>Enable one-click login and receive more personalized course recommendations.</p>
        <a href="javascript:void(0)" class="btn btn-primary">Link my GitHub Account</a>
      </div>
    </div>

    <div>
      <img src="assets/img/net-icon-04.png" alt="Logo">
      <div>
        <h4>Twitter</h4>
        <p>Enable one-click login and receive more personalized course recommendations.</p>
        <a href="javascript:void(0)" class="btn btn-primary">Link my Twitter Account</a>
      </div>
    </div>

    <div>
      <a [routerLink]="routes.register3" class="btn btn-back">Back</a>
      <a [routerLink]="routes.register5" class="btn btn-primary btn-start">Next</a>
    </div>
  </div>
  <!-- /Login -->

</div>
<!-- /Main Wrapper -->