<div class="page-content">
    <div class="container">
        <div class="row">
            
            <!-- sidebar -->
            <app-instructor-sidebar class="col-xl-3 col-lg-3 theiaStickySidebar"></app-instructor-sidebar>
            <!-- /Sidebar -->
            
            <!-- Student Settings -->
            <div class="col-xl-9 col-lg-9">	

                <div class="settings-widget card-details">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Settings</h3>
                            <p>You have full control to manage your own account settings</p>
                        </div>
                        <app-student-setting-tab></app-student-setting-tab>
                        <form>
                            <div class="checkout-form settings-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-block">
                                            <label for="website" class="form-label">Website</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block">
                                            <label for="github" class="form-label">Github</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block">
                                            <label for="facebook" class="form-label">Facebook</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>	
                                    <div class="col-md-12">
                                        <div class="input-block">
                                            <label for="twitter" class="form-label">Twitter</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>										
                                    <div class="col-md-12">
                                        <div class="input-block">
                                            <label for="linkedin" class="form-label">Linkedin</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>	
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="submit">Save Profile</button>
                                    </div>
                                </div>
                            </div>
                        </form>								
                    </div>
                </div>
            </div>	
            <!-- /Student Settings -->
            
        </div>
    </div>
</div>	