<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
              <li class="breadcrumb-item">Pages</li>
              <li class="breadcrumb-item">Instructors List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Wrapper -->
<div class="page-content">

  <div class="container">
    <div class="row">
      <div class="col-lg-9">

        <!-- Filter -->
        <div class="showing-list">
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex align-items-center">
                <div class="view-icons">
                  <a [routerLink]="routes.instructor_grid" class="grid-view"><i class="feather icon-grid"></i></a>
                  <a [routerLink]="routes.instructor_list" class="list-view active"><i class="feather icon-list"></i></a>
                </div>
                <div class="show-result">
                  <h4>Showing 1-9 of 50 results</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="show-filter add-course-info mat-style">
                <form action="#">
                  <div class="row gx-2 align-items-center">
                    <div class="col-md-6 col-item">
                      <div class="search-group">
                        <i class="feather icon-search"></i>
                        <input type="text" [(ngModel)]="searchDataValue" name="one" (ngModelChange)="searchData(searchDataValue)" class="form-control" placeholder="Search our courses">
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-item">
                      <div class="input-block select-form mb-0">
                        <mat-select class="custom-mat-select select" name="sellist1" [(value)]="selected">
                          <mat-option value="1">Newly published</mat-option>
                          <mat-option value="angular">Angular</mat-option>
                          <mat-option value="nodejs">Node Js</mat-option>
                          <mat-option value="react">React</mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /Filter -->

        <div class="row">

          <!-- Instructor List -->
          @for (data of instructorList; track trackByFn($index, data)) {
            <div class="col-lg-12 d-flex">
              <div class="instructor-list flex-fill">
                <div class="instructor-img">
                  <a [routerLink]="routes.instructor_instructor_profile">
                    <img class="img-fluid" alt="" [src]="data.img1">
                  </a>
                </div>
                <div class="instructor-content">
                  <h5><a [routerLink]="routes.instructor_instructor_profile">{{ data.name }}</a></h5>
                  <h6>{{ data.role }}</h6>
                  <div class="instructor-info">
                    <div class="rating-img d-flex align-items-center">
                      <img [src]="data.img2" class="me-1" alt="">
                      <p>{{ data.lesson }}</p>
                    </div>
                    <div class="course-view d-flex align-items-center ms-0">
                      <img [src]="data.img3" class="me-1" alt="">
                      <p>{{ data.time }}</p>
                    </div>
                    <div class="rating-img d-flex align-items-center">
                      <img [src]="data.img4" class="me-1" alt="">
                      <p>{{ data.student }}</p>
                    </div>
                    <div class="rating">
                      <i class="fas fa-star filled me-1"></i>
                      <i class="fas fa-star filled me-1"></i>
                      <i class="fas fa-star filled me-1"></i>
                      <i class="fas fa-star filled me-1"></i>
                      <i class="fas fa-star me-1"></i>
                      <span class="d-inline-block average-rating"><span> {{ data.rating1 }} </span> {{ data.rating2 }}</span>
                    </div>
                    <a href="javascript:void(0)" class="rating-count"><i class="fa-regular fa-heart"></i></a>
                  </div>
                  <div class="instructor-badge">
                    <span class="web-badge me-1">Web Design</span>
                    <span class="web-badge me-1">web development</span>
                    <span class="web-badge">UI Design</span>
                  </div>
                </div>
              </div>
            </div>
          }
          <!-- /Instructor List -->

        </div>

        <!-- /pagination -->
        <div class="row">
          <div class="col-md-12">
            <ul class="pagination lms-page lms-pagination">
              <li class="page-item prev">
                <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-left"></i></a>
              </li>
              <li class="page-item first-page active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">5</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /pagination -->

      </div>

      <div class="col-lg-3">
        <div class="filter-clear">
          <div class="clear-filter d-flex align-items-center">
            <h4><i class="feather icon-filter"></i>Filters</h4>
            <div class="clear-text">
              <p>CLEAR</p>
            </div>
          </div>

          <!-- Search Filter -->
          <div class="card search-filter">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Course categories</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Backend (3)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    CSS (2)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Frontend (2)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    General (2)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    IT & Software (2)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Photography (2)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Programming Language (3)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Technology (2)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

          <!-- Search Filter -->
          <div class="card search-filter">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Instructors</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Keny White (10)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Hinata Hyuga (5)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    John Doe (3)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input input-box" type="checkbox" name="select_specialist" />
                    Nicole Brown
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

          <!-- Search Filter -->
          <div class="card search-filter ">
            <div class="card-body">
              <div class="filter-widget mb-0">
                <div class="categories-head d-flex align-items-center">
                  <h4>Price</h4>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                    All (18)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                    Free (3)
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input radio-box" type="checkbox" name="select_specialist" />
                    Paid (15)
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

        </div>
      </div>

    </div>
  </div>
</div>
<!-- /Page Wrapper -->
